<% content_for :head do %>
  <title>Sign Up</title>
<% end %>

<div id="signup_info">
<h2>Sign up for web services</h2>
<p>This will be a sign up page to access key features of the website</p>
</div>
