<% content_for :head do %>
  <title>About B.J. Laura & Son</title>
<% end %>

<div id="about_us">
<h2>About Us</h2>
<p>B.J. Laura and Son, Inc. is a woman-owned and operated New York City based business who has provided decades of professional service to garage door systems at commercial, industrial, and municipal facilities.
<br/><br/>
Incorporated in 1975, B.J. Laura continues to service the entire New York metropolitan area including sections of Connecticut and New Jersey.  Located in Flushing, New York, a fleet of radio dispatched trucks provide prompt service.  Our service personnel are experienced in both wood and steel sectional doors, steel rolling doors and grills, gates, and associated electric operating devices.  
<br/><br/>
Our team of highly trained technicians are also available for emergency service after hours, 24 hours a day, 7 days a week, on a pre-arranged basis.  Each vehicle is equipped with a broad range of parts to minimize return calls.  A backup inventory of parts spanning many generations of doors is inventoried at our facility.
<br/><br/>
B.J. Laura is also a distributor of products by Fimbel, SteelCraft, Hormann, LiftMaster, PowerMaster, and Arm-R-Lite, among others.  We are a member of the International Door Association and the Northeastern Garage Door and Operator Association.
</p>
</div>
