<% content_for :head do %>
  <title>Our Past and Present Clients</title>
<% end %>

<div id="our_clients">
<h2>Our Clients</h2>
<p>We have worked and continue to work for such clients as ConEdison, TransCanada, FDNY, NYC DEP, and the USTA - National Tennis Center.</p>
</div>
