<% content_for :head do %>
  <title>Contact B.J. Laura</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

<% end %>

<br/>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<p>
  We are located at 45-58 162nd Street, Flushing, New York.
</p>
