<% content_for :head do %>
  <title>Contact B.J. Laura</title>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPpNUmiLxK8B3NRAS9YyNQT5JQV8Tjf4g&callback=initMap">
</script>

<% end %>

<h2>Find us in NYC:</h2>
<div class="container-fluid">

<div id="google-map">
  <!-- div element for map -->
</div>

<div class="row-fluid">
<div class="col-md-3">
	<br/>M-F: 9:00AM - 5:00PM<br/>
	45-58 162nd Street<br/>
	Flushing, NY 11358-3158<br/>
</div>
<div class="col-md-3">
	<br/>Phone: 718-878-3938<br/>
	Alt Ph: 718-961-9841<br/>
	Fax: 718-461-4319<br/>
</div>
<div class="col-md-3">
	<br/>To contact directly,<br/>
	Doris: dck@bjlaura.com<br/>
	Joe: jjk@bjlaura.com<br/>
	David: deck@bjlaura.com<br/>
</div>
<div class="col-md-3">
	<br/>for tech support, contact<br/>
	Paige: pnk@descoservice.com<br/>
</div>
</div> <!--endrow-->

</div> <!--endcont-->

<hr id="email-topbar" />

<script>
  // Initialize and add the map
  function initMap() {
    // the location of bjl
    const myLoc = { lat: 40.7553961, lng: -73.8047598};
    // the map, centered at our location
    const map = new google.maps.Map(document.getElementById("google-map"), {
      zoom: 15,
      center: myLoc,
    });
    const marker = new google.maps.Marker({
      position: myLoc,
      title: '45-58 162nd St, Flushing, NY 11358',
      map: map,
    });

  }
</script>




