<% content_for :head do %>
  <title>Contact B.J. Laura</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

<% end %>

<br/>
<div id="contact-info">
<br/>Monday - Friday: 9:00AM - 5:00PM<br/>
<br/><br/>
45-58 162nd Street<br/>
Flushing, New York 11358-3158<br/>
<br/><br/>
Phone: 718-878-3938<br/>
Alt Ph: 718-961-9841<br/>
Fax: 718-461-4319<br/>
<br/><br/>
To contact directly,<br/>
Doris: dck@bjlaura.com<br/>
Joe: jjk@bjlaura.com<br/>
David: d.krsnak@gmail.com<br/>
<br/>
for concerns about the website,<br/>
<a href="/users/2">Paige</a>: pnk@descoservice.com<br/>
</div>

<div id="map-container">
  <div id="mapcanvas"></div>
</div>

<hr id="email-topbar" />

