<% content_for :head do %>
  <title>Employment Opportunities</title>
<% end %>

<div id="employment">
	<h2>Now Hiring :</h2>
	<h3>Experienced Garage Door/Electrical Gate Mechanic</h3>
	<p>We are looking to hire a mechanic with strong electrical background and broad mechanical experience.  Daily responsibilities may include:</p>
		<ul>
			<li>assessment and repair of commercial and residential garage doors</li>
			<li>pump maintenance and repair</li>
			<li>commercial HVAC assessment and repair</li>
		</ul>
	<p>Requirements for this position:</p>
		<ul>
			<li>must have clean NYS driver's license</li>
			<li>must be able to work at height, such as on a ladder</li>
			<li>must be able to rotate in on-call coverage for 24-hr emergency service</li>
		</ul>
	<p>Please forward resumes to Doris: dck@bjlaura.com, or call us at 718-961-9841 with any questions.</p>
</div>
