<% content_for :head do %>
  <title>Fallon Safety System</title>
<% end %>

<div id="fallon_inf">
<h2>Fallon Safety Systems</h2>
<p>FSS and DoorSense is here! This page will link to our G+ page and YouTube channels.</p>

<!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-href="https://plus.google.com/112311854053628167158" data-layout="landscape" data-rel="publisher"></div>

<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCOqUvR5gvjyosnXE5iJu_rw" data-layout="full" data-count="hidden"></div>


</div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
