<% content_for :head do %>
  <title>B.J. Laura & Son, and Desco Refrigeration of Flushing, New York</title>
<% end %>

<div id="home_summary">

<h2>B.J. Laura & Son of Flushing, New York</h2>
We provide comprehensive repair and service of garage doors and gates for commercial and industrial locations in Flushing, NY and the surrounding metro area. For over 50 years, we have provided expert troubleshooting and a complete repair service for all makes and models of garage doors.

We are insured for your protection. Upon request we are able to provide references.
</div>
</p>
