/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * note: later replace require_tree with stuff in config
 * config . assets . paths < < File . join ( Rails.root, '/my/special/path')
 *
 *= require_tree
 *= require_self
 */


#container{
	width: 100%;
	display: inline-block;
}

#content-container{
	border-bottom: 1px solid #000;
	width: 100%;
	display: inline-block;
	padding: 15px;
}

nav{
	height: 35px;
	line-height: 35px;
  background-color: #333;
  overflow: hidden;
  border: 1px solid #000;
}

nav > ul > li{
	font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
	color: #bbb;
}

nav > ul > li a{
  font-weight: normal;
  text-decoration: none;
  color: #696;
	padding: 12px;
}

nav > ul > li a:hover{
  background-color: #222;
	color: #999;
	border: 1px solid #111;
}
