/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= depend_on_asset "backuplogo.png"


body{
  margin: 0;
  padding: 0;
}

#bdycontainer{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

canvas{
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  margin-top: 5px;
}

nav{
  background-color: #777;
  margin: 0;
  overflow: hidden;
}

nav li{
  font-family: 'sanchez_regular';
  font-weight: bold;
  display: inline;
  color: #111;
  background-color: #999;
  line-height: 1.5em;
  padding: 0.5em 0.5em;
}

nav li a{
  font-weight: normal;
  text-decoration: none;
}

nav li:hover{
  background-color: #777;
}
