// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container{
	width: 800px;
	height: 500px;
	background-color: #ccc;
}

#map-canvas{
	width: 800px;
	height: 500px;
}
