// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_summary{
  font-family: 'sanchez_regular';
}

#about_us{
  font-family: 'sanchez_regular';

}

#our_clients{
	font-family: 'sanchez_regular';

}

#contact-info{
  font-family: 'sanchez_regular';

}

#map-container{
  border: 1px solid #000;
  width: 550px;
  height: 400px;
  background-color: #ccc;
  margin-left: auto;
}

#map-canvas{
  border: none;
  width: 550px;
  height: 400px;
}

#email-topbar{
  width: 50%;
  color: #aaa;
}
