// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-cont{
	padding: 10px;
}

#map-canvas{
  border: 1px solid #333;
  width: 700px;
  height: 500px;
	padding: 10px;
}

#email-topbar{
  width: 50%;
  color: #aaa;
}
