// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_form{
	height: 100%;
	font-family: 'sanchez_regular';
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
